<footer class="mt-5">
  <div class="text-center py-3">
	<i class="far fa-copyright" title="版权"></i>
	<b>2020</b>&nbsp;&nbsp;
    <!-- <i class="iconfont icon-love"></i> -->
	<!--<i class="fab fa-angellist"></i> -->
	&nbsp;<i class="fas fa-pencil-alt" title="博主"></i>
    <a href="https://wanghaocun.com" target="_blank" rel="nofollow noopener"><b>王浩存</b></a>
    <br>

    <%- partial('_partial/busuanzi.ejs') %>

    <%- partial('_partial/beian.ejs') %>

    <!-- cnzz Analytics icon -->
    <% if(theme.web_analytics.cnzz) { %>
      <span id="cnzz_stat_icon_<%- theme.web_analytics.cnzz %>" style="display: none"></span>
    <% } %>

  </div>
</footer>

<!-- SCRIPTS -->
<%- partial('_partial/scripts.ejs') %>
